<% include ./partials/header %>

<% decks.reverse() %>
<div class=" ui three column grid">
    <div><h1>My Decks</h1></div>
    <%decks.forEach(function(deck){%>
        <a href="/decks/<%= deck._id %>">
           <div class="decks">
               <div id="subject">
                    <h1><%=deck.subject%></h1>
                </div>
                <div id="chapter">
                    <h4>Chapter <%=deck.chapter%></h4>
                </div>
            </div>
        </a>
    <% }); %>
    <a href="/decks/new">
           <div id="plus-card" class="decks ">
               <p id="plus-symbol">+</p> 
            </div>
        </a>
</div>

<% include ./partials/footer %>
