<h1>Flashcard App index!</h1>
<% decks.reverse() %>
<%decks.forEach(function(deck){%>
    <p>
        <%=deck.subject%>
        <strong>
            <%=deck.chapter%>
        </strong>
    </p>    
<% }); %>
