<% include ./partials/header %>

<form action="/decks" method="POST">
    <input type="text" name="deck[subject]" placeholder="subject">
    <input type="text" name="deck[chapter]" placeholder="chapter">
    <input type="text" name="deck[cards][front]">
    <input type="text" name="deck[cards][back]">
    <input type="submit">
</form>

<form action="/decks"></form>

<% include ./partials/footer %>