<% include ./partials/header %>
    <div class="ui grid container">
        <form id="new-form" class="ui form" action="/decks" method="POST">
            <div class="field">
                <label>Subject: </label>
                <input type="text" name="deck[subject]" placeholder="subject" maxlength="10" required>
            </div>
            <div class="field">
                <label>Chapter: </label>
                <input type="text" name="deck[chapter]" placeholder="chapter" maxlength="4" required>
            </div>
            <input class="ui button" type="submit">
        </form>
    </div>
<% include ./partials/footer %>